footer
  div
    ul
      h3 Pages
      li
        a(href='index.html')  Work
      li
        a(href='about.html')  About
      li
        a(href='contact.html')  Contact
    ul
      h3 Contact
      li
        a(href='tel:06-36440961') Tel: 06-36440961
      li
        a(href='mailto:tristanconnect4@outlook.com') E-mail: tristanconnect4@outlook.com
    ul
      h3 Socials
      li
        a.linkedin(href='https://www.linkedin.com/in/tristan-varewijck-056910128/') LinkedIn
      li
        a.instagram(href='https://www.instagram.com/tristanvrw/') Instagram
      li
        a.facebook(href='https://www.facebook.com/profile.php?id=100009207119864') Facebook
  p &copy; 2021 Tristan Varewijck
script(type='module' src='https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js' data-stencil-namespace='ionicons')
script(src='scripts/app.js')

