nav#navbar
  .logo-box
    img.logo(src='icons/logo.png' alt='logo')
  ul
    a(href='index.html')
      li  Work 
    a(href='about.html')
      li  About 
    a(href='contact.html')
      li  Contact